/* ------------------------ GENERAL ---------------------- */

*{
    margin:0; 
    padding:0; 
}

body, html{
    background-color: rgb(23, 22, 22) !important; 
    color:white; 
}

img{
    width:100px; 
    height:auto; 
}

hr{
    margin-top:5px; 
    margin-bottom:5px; 
    size:2px; 
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:white; 
}

a:hover{
    color:red; 
}

/* ----------------------TABLE ---------------------*/

table{
    color:white; 
    margin:auto; 
}

table, th, td{
    margin-top:1em; 
    border: 1px solid #cccccc
}

table tr{
    height: 100%; 
    text-align: left;
    font-size:large; 
}

th, td{
    padding:1em;  
}


/* --------------------------------------NAVBAR -----------------------------------------------*/

.navbar{
    height: 70px; 
    width: 100%;
    background:black; 
    color:white;
    font-size:xx-large; 
}

.navbar-nav{
    display:flex; 
    height: 100%; 
    align-items: center;
    justify-content: space-evenly;
}

/* ------------------------- CRAFTING SIMULATOR ----------------------- */

.crafting_simulator{
    margin:auto; 
    width:fit-content; 
    margin-top:25px; 
    margin-bottom:30px; 
}

#item{
    background-color:black; 
    color:darkcyan; 
    text-align:center; 
    font-size:large; 
    border:1px solid yellow; 
    padding-bottom:10px; 
    margin:auto; 
    width:300px; 
}

#lvl_required, #item_quality, #item_level{
    color:grey; 
}

.mod{
    padding-left:15px; 
    padding-right:15px; 
}

#item_title{
    font-size:xx-large; 
}

.normal #item_title{
    color:white; 
    background-color: rgb(63, 63, 63);
}

.magic #item_title{
    color:rgb(74, 79, 214); 
    background-color: rgb(23, 29, 58);
}

.rare #item_title{
    color:gold; 
    background-color: rgb(57, 34, 4);
}

#mod_list{
    padding-top:5px; 
}

#item_quality{
    padding-top:5px; 
}
/*
.magic {
    box-shadow: inset 0 0 8px gold;
}

.rare {
    box-shadow: inset 0 0 8px gold, 0 0 2em red;
}*/

#flavour{
    color:rgb(165, 91, 42); 
    font-style:italic; 
    padding:5px;
}

/* SEARCH BAR */
.searchbar{
    padding: 25px; 
    width:fit-content; 
    margin:auto; 
}

input{
    height:40px; 
    text-align: center;
}

/* SKILLS */
.skill_name{
    color: green; 
}

/* SIGN UP FORM */
form{
    margin-top:20px; 
    text-align: center;
}